body {
    font-family: Arial, sans-serif;
    background-color: #B3E2FF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.banner {
    background-color: #00336D; 
    color: #B3E2FF;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.content {
    text-align: center;
}

h1 {
    font-size: 36px; 
    font-family: 'Open Sans', sans-serif; 

}

h2 {
    font-size: 10px; 
}
